<!-- Modal Update Product-->
<form role="form" action="/admin/barang/update" method="POST">
  <div class="modal fade" id="edit_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Barang</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="kode_barang">Kode Barang</label>
            <input type="text" name="kode_barang" class="form-control kode" placeholder="Masukan Kode Barang" required>
          </div>

          <div class="form-group">
            <label for="nama">Nama</label>
            <input type="text" name="nama_barang" class="form-control nama" placeholder="Masukan Nama" required>
          </div>

          <div class="form-group">
            <label for="satuan">Satuan</label>
            <input type="text" name="satuan" class="form-control satuan" placeholder="Masukan Satuan" required>
          </div>

          <div class="form-group">
            <label for="harga">Harga</label>
            <input type="number" name="harga" class="form-control harga" placeholder="Masukan Harga" required>
          </div>

        </div>
        <div class="modal-footer">
          <input type="hidden" class="id" name="id">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Simpan</button>
        </div>
      </div>
    </div>
  </div>
</form>