<!-- Modal Add Barang Masuk-->
<form role="form" id="simpan_barang_keluar">
  <div class="modal fade" id="add_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Barang Keluar</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="kode_barang_keluar">Kode Barang Keluar</label>
            <input type="text" name="kode_barang_keluar" class="form-control" placeholder="Masukan Kode Barang"
              required>
          </div>


          <div class="form-group">
            <select required name="BarangId" class="form-control">
              <option value="">--- Pilih Barang ---</option>
              <% for(let i = 0; i < barang.length; i++) { %>
              <option value=<%= barang[i].id %>><%= barang[i].nama_barang %></option>
              <% } %>
            </select>
          </div>

          <!-- Jumlah -->
          <div class="form-group">
            <label for="jumlah">Jumlah</label>
            <input type="number" id="jumlah" name="jumlah" class="form-control" placeholder="Masukan Jumlah" required>
          </div>

          <!-- DatePicker Tanggal Lahir -->
          <div class="form-group">
            <label for="inputDatepickerTglLahir">Tanggal Keluar</label>
            <div class="input-group date">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <input type="date" required name="tanggal_keluar" class="form-control pull-right"
                id="inputDatepickerTglLahir" />
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Simpan</button>
        </div>
      </div>
    </div>
  </div>
</form>