<table id="barang" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>No</th>
      <th>Kode Barang</th>
      <th>Kode Barang Masuk</th>
      <th>Kode Barang Keluar</th>
      <th>Nama</th>
      <th>Jumlah</th>
      <th>Stok</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>